<form name="userForm" id="userForm" class="css-form" novalidate>
    <div class="content-details">
      <div class="top-right-side-cus-typ" style="box-shadow:none; ">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#profile">PROFILE</a></li>
          <li><a data-toggle="tab" href="#skill">SKILLS</a></li>
          <li><a data-toggle="tab" href="#history_11">HISTORY</a></li>
        </ul>
        <div class="tab-content" >
          <div id="profile" class="tab-pane  in active" style="width:100%;">

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <fieldset>
                <legend> Personal Information</legend>
                <!--<div style="text-align:center;"><h5><b> A1.Personal Information </b></h5></div>-->
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Name
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="1" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Date Of Birth
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="2" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Place Of Birth
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="3" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Height
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="4" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Nationality
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="5" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Residential address
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="6" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Name of Port/Airport
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="7" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Contact number
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="8" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Code
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="9" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Age
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="10" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Weight
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="11" />
                  </div><div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Religion
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="12" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Education level
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="13" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    No.of&nbsp siblings
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="14" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Marital status
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="15" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    No.of childrens
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="16" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                  <div style="border-radius: 25px;border: 2px solid #73AD21;padding: 10px;width:200px;height: 250px; ">
                    <img src="#" width="130" height="200" id="IMAGE_ID" class="img-rounded" alt="Image preview...">

                  </div>
                  <label>
                    <input type="file" name="" id="" fileread="uploadme" />
                  </label>
                </div>
              </fieldset>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <fieldset>
                <legend> Medical History/Dietary Restrictions</legend>
                <!--	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">-->
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Allergies&nbsp(if any)
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" tabindex="17" />
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <div class="align-right">Physical disabilities</div>
                  </div>

                  <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 ">
                    <label title="Physical disabilities" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <div class="align-right">Dietary restrictions</div>
                  </div>

                  <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 ">
                    <label title="Dietary restrictions" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    Food handling preferences:
                  </div>
                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                    <div class="align-right">No Pork</div>
                  </div>

                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                    <label title="No pork" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                    <div class="align-right">No beef</div>
                  </div>

                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                    <label title="No beef" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                    <div class="align-right">Others</div>
                  </div>

                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>

                </div>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    18. Past and existing illnesses (including chronic aliments and illnesses requiring medication):
                  </div>
                  <!--<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12"> -->
                  <div class="top-left-side-org" style="min-height:97px;">

                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                      <div class="align-right">Mental illness</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                      <label title="Mental illness" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                      <div class="align-right">Epilepsy</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                      <label title="Epilepsy" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                      <div class="align-right">Asthma</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                      <label title="Asthma" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                      <div class="align-right">Diabetes</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                      <label title="Diabetes" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                      <div class="align-right">Hypertension</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                      <label title="Hypertension" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                      <div class="align-right">Tuberculosis</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                      <label title="Tuberculosis" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                      <div class="align-right">Heart disease</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                      <label title="Heart disease" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                      <div class="align-right">Malaria</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                      <label title="Malaria" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                      <div class="align-right">Operations</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                      <label title="Operations" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                      <div class="align-right">Others</div>
                    </div>

                    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                      <label title="Others" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                  <!--	</div>-->
                </div>
                <!--	</div>-->

              </fieldset>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <fieldset>
                <legend> Others</legend>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    Preference for rest day
                  </div>
                  <div class="form-group col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" style="width:100%" tabindex="13" />
                  </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                  <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                    Any other remarks
                  </div>
                  <div class="form-group col-lg-9 col-md-9 col-xs-12 col-sm-12">
                    <input type="text" class="form-control" name="" id="" value="" style="width:39%" tabindex="13" />
                  </div>
                </div>
              </fieldset>
            </div>

          </div>
          <div id="skill" class=" tab-pane fade" style="width:100%;">

            <fieldset>
              <legend> Method of Evaluation of Skills</legend>
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                Please indicate the method(s) used to evaluate the FDW’s skills (can tick more than one):
              </div>
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">

                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                    <div>Interviewed by Singapore EA</div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                    <div>Interviewed via telephone/teleconference</div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                    <div>Interviewed in person</div>
                  </div>
                  <div class="clearfix"></div>

                </div>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">

                  <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-11 col-md-11 col-xs-12 col-sm-12">
                    <div>Based on FDW’s declaration, no evaluation/observation by Singapore EA or overseas training centre/EA</div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-11 col-md-11 col-xs-12 col-sm-12">
                    <div>Interviewed via videoconference</div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-11 col-md-11 col-xs-12 col-sm-12">
                    <div>Interviewed in person and also made observation of FDW in the areas of work listed in table.</div>
                  </div>
                  <div class="clearfix"></div>

                </div>
              </div>

              <table class="table table-bordered">
                <thead style="background-color:#007acc;">
                  <tr>
                    <th style="width:10%;text-align:center;">S/No</th>
                    <th style="width:25%;text-align:center;">Areas of Work</th>
                    <th style="width:20%;text-align:center;">Willingness Yes/No</th>
                    <th style="width:20%;text-align:center;">Experience Yes/No If yes, state the no. of years</th>
                    <th style="width:60%;text-align:center;">Assessment/Observation Please state qualitative observations of FDW and/or rate the FDW (Indicate N.A. of no evaluation was done) Poor....................................Excellent.....N.A 1 2 3 4 5 N.A</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Care of infants/children <br> Please specify age range:</td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>

                  <tr>
                    <td>2</td>
                    <td>Care of elderly</td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>

                  <tr>
                    <td>3</td>
                    <td>Care of disabled</td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>
                  <tr>
                    <td>4</td>
                    <td>General housework</td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>

                  <tr>
                    <td>5</td>
                    <td>
                      Cooking <br>
                      Please specify cuisines:
                    </td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>
                  <tr>
                    <td>6</td>
                    <td>
                      Language abilities (spoken)<br>
                      Please specify
                    </td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>
                  <tr>
                    <td>7</td>
                    <td>
                      Other skills, if any<br>
                      Please specify:
                    </td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>
                </tbody>
              </table>

              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                  <label title="Others" class="switch">
                    <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="col-lg-11 col-md-11 col-xs-12 col-sm-12">
                  <div>Interviewed by overseas training centre / EA (Please state name of foreign training centre / EA)</div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                State if the third party is certified (e.g. ISO 9001) or audited periodically by the EA:
              </div>
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                    <div>Interviewed via videoconference</div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                    <div>Interviewed in person</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                    <div>Interviewed via telephone/teleconference</div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                    <div>Interviewed in person and also made observation of FDW in the areas of work listed in table.</div>
                  </div>
                  <div class="clearfix"></div>
                </div>

              </div>
              <table class="table table-bordered">
                <thead style="background-color:#007acc;">
                  <tr>
                    <th style="width:10%;text-align:center;">S/No</th>
                    <th style="width:25%;text-align:center;">Areas of Work</th>
                    <th style="width:20%;text-align:center;">Willingness Yes/No</th>
                    <th style="width:20%;text-align:center;">Experience Yes/No If yes, state the no. of years</th>
                    <th style="width:60%;text-align:center;">Assessment/Observation Please state qualitative observations of FDW and/or rate the FDW (Indicate N.A. of no evaluation was done) Poor....................................Excellent.....N.A 1 2 3 4 5 N.A</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Care of infants/children <br> Please specify age range:</td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>

                  <tr>
                    <td>2</td>
                    <td>Care of elderly</td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>

                  <tr>
                    <td>3</td>
                    <td>Care of disabled</td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>
                  <tr>
                    <td>4</td>
                    <td>General housework</td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>

                  <tr>
                    <td>5</td>
                    <td>
                      Cooking <br>
                      Please specify cuisines:
                    </td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>
                  <tr>
                    <td>6</td>
                    <td>
                      Language abilities (spoken)<br>
                      Please specify
                    </td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>
                  <tr>
                    <td>7</td>
                    <td>
                      Other skills, if any<br>
                      Please specify:
                    </td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>
                    <td><input type="text" name="" /></td>

                  </tr>
                </tbody>
              </table>
            </fieldset>
          </div>

          <div id="history_11" class="col-lg-12 tab-pane fade" style="width:100%;">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <fieldset>
                <legend> Employment History Overseas</legend>
                <table class="table table-bordered">
                  <thead style="background-color:#007acc;">
                    <tr>
                      <th style="width:10%;text-align:center;">From</th>
                      <th style="width:25%;text-align:center;">TO</th>
                      <th style="width:20%;text-align:center;">
                        Country
                        (includingFDW’s homecountry)
                      </th>
                      <th style="width:20%;text-align:center;">Employer</th>
                      <th style="width:60%;text-align:center;">Work Duties</th>
                      <th>Remarks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>

                    </tr>

                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>

                    </tr>

                  </tbody>
                </table>

              </fieldset>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <fieldset>
                <legend> Employment History In Singapore</legend>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                  <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 ">
                    <label title="Others" class="switch">
                      <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-lg-11 col-md-11 col-xs-12 col-sm-12">
                    <div>Previous working experience in Singapore</div><br>

                  </div>
                  <div class="clearfix"></div>
                </div>
                <div style="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                  (The EA is required to obtain the FDW’s employment history from MOM and furnish the employer with the employment history of
                  the FDW. The employer may also verify the FDW’s employment history in Singapore through WPOL using SingPass)
                </div>

              </fieldset>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <fieldset>
                <legend> Feedback from previous employer in Singapore</legend>
                <div style="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                  (The EA is required to obtain the FDW’s employment history from MOM and furnish the employer with the employment history of
                  the FDW. The employer may also verify the FDW’s employment history in Singapore through WPOL using SingPass)
                </div>


                <div style="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                  Employer 1
                </div>
                <div style="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                  <textarea name="" rows="2"></textarea>
                </div> <div class="clearfix"></div>

                <!--	<div style="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div style="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                      <label>Employer 2</label>
                    </div>
                    <div style="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                      <textarea name="" rows="2"></textarea>
                    </div><div class="clearfix"></div>
                  </div>-->

              </fieldset>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <fieldset>
                <legend> AVAILABILITY OF FDW TO BE INTERVIEWED BY PROSPECTIVE EMPLOYER</legend>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                  <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                      <label title="Others" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                      <div>FDW is not available for interview</div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                      <label title="Others" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                      <div>FDW can be interviewed by phone</div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                      <label title="Others" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                      <div>Interviewed via telephone/teleconference</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 ">
                      <label title="Others" class="switch">
                        <input type="checkbox" class="checkbox_c" name="" id="" value="Y" title="Availability of sample" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                      <div>FDW can be interviewed in person</div>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>

              </fieldset>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <fieldset>
                <legend> OTHER REMARKS</legend>
                <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12">
                  Remarks:
                </div>
                <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                  <textarea name="" rows="2"></textarea>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
